nav  {
    font-weight: bold;
}

nav .container {
    float: right;
}

nav li {
    list-style-type: none;
    float: left;
    padding: 0 1rem;
}

nav li a {
    text-decoration: none;
}

.nav-button {
    background-color: azure;
    padding: .2rem 1.3rem 0;
    border-radius: 50%;
    box-shadow: 0 0 1rem #ccc;
}

.nav-button:hover {
    background-color: #444;
    padding: .2rem 1.3rem 0;
    border-radius: 50%;
    color: blanchedalmond;
    box-shadow: 0 0 1rem #ccc;
}


