body {
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}
.layout {
    background-color: blanchedalmond;
    padding: .2rem 2rem 3rem;
    box-shadow: 0 0 1rem #ccc;
    height: 100%;
}

h1 {
    font-family: 'Rubik Pixels', cursive;
}

#datepicker {
    color: red;
}


.embeddedMessagingFrame {
    height: 0;
    width: 0;
    position: fixed;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 8px 8px 0 0;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}
    
.embeddedMessagingFrame, .embeddedMessagingConversationButtonWrapper {
    z-index: 999;
}
    
.embedded-messaging > .embeddedMessagingFrame[class~="isMaximized"]
    {
        bottom: 0;
        right: 30px;
        margin: 0;
        height: 554px;
        width: 344px;
        display: inline-block;
        visibility: visible;
        max-height: calc(100vh - 9em);
}