body {
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}
.layout {
    background-color: blanchedalmond;
    padding: .2rem 2rem 3rem;
    box-shadow: 0 0 1rem #ccc;
    height: 100%;
}

h1 {
    font-family: 'Rubik Pixels', cursive;
}

#datepicker {
    color: red;
}

