body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 4rem;
}


.layout {
    max-width: 1000px;
    margin: 0 auto;
}


.u-right-justify {
    text-align: right;
}

h1 {
    color: red;
}