<!doctype html>
<html lang="en">
  <head>
    {%- include head-content.html -%}
  </head>
  <body>
  <div class="layout">

    {%- include nav.html -%}

<br>

    
    <section>
      
      <div class="hero-img">
        <img src="/assets/images/hi.png" alt="Hi" width="40%"> 
        </div>
    
      <h3>{{ page.title }}</h3>
      <iframe title="Chat with an Agent" class="embeddedMessagingFrame experienceSite isMaximized" id="embeddedMessagingFrame" aria-label="Chat Window" role="dialog" aria-modal="true" src="https://d8a000003z3hheai-dev-ed.develop.my.site.com/ESWESAWebDeployment1724800920657/?lwc.mode=prod" dir="ltr" style="background-color: transparent;"></iframe>
      

      {{ content }}

      <a href="/articles/datepicker">datepicker</a>
    </section>
    <footer>
 
    </footer>
  </div>
  </body>
</html>